In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

Data Resource: CDC data for cases by state:
https://data.cdc.gov/Case-Surveillance/United-States-COVID-19-Cases-and-Deaths-by-State-o/9mfq-cb36/data

In [2]:
df = pd.read_csv('United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv')
df.head()

,submission_date,state,tot_cases,conf_cases,prob_cases,new_case,pnew_case,tot_death,conf_death,prob_death,new_death,pnew_death,created_at,consent_cases,consent_deaths
0,01/14/2022,KS,621273,470516.0,150757.0,19414,6964.0,7162,NaN,NaN,21,4.0,01/15/2022 02:59:30 PM,Agree,NaN
1,01/02/2022,AS,11,NaN,NaN,0,0.0,0,NaN,NaN,0,0.0,01/03/2022 03:18:16 PM,NaN,NaN
2,08/22/2020,AR,56199,NaN,NaN,547,0.0,674,NaN,NaN,11,0.0,08/23/2020 02:15:28 PM,Not agree,Not agree
3,07/17/2020,MP,37,37.0,0.0,1,0.0,2,2.0,0.0,0,0.0,07/19/2020 12:00:00 AM,Agree,Agree
4,08/12/2020,AS,0,NaN,NaN,0,0.0,0,NaN,NaN,0,0.0,08/13/2020 02:12:28 PM,NaN,NaN

In [3]:
df['submission_date'] = pd.to_datetime(df['submission_date'])

In [4]:
df['year'] = df['submission_date'].apply(lambda x: x.year)

In [5]:
df['month'] = df['submission_date'].apply(lambda x: x.month)

Cases for every state up to 8/1/2021

In [6]:
res = df[(df['year'] == 2021) & (df['submission_date'] == '2021-08-01')][['state','tot_cases']].reset_index()

In [7]:
res = res.drop(columns = ['index'])
res.head()

  state  tot_cases
0    GA    1187107
1    FL    2647202
2    AK      72753
3    PW          2
4    UT     433963